# Port number
PORT=8080

# URL of the Rocket client
CLIENT_URL=client-production-url

# URL of the Mongo DB
MONGODB_URL=mongodb-production-url
MONGODB_URL_TEST=mongodb-test-url

# JWT
# JWT secret key
JWT_SECRET=thisisasamplesecret
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30

# Github
# Github Id
GITHUB_ID=github-id
# GITHUB secret key
GITHUB_SECRET=thisisasamplesecret

# Google
# Google Id
GOOGLE_ID=github-id
# Google secret key
GOOGLE_SECRET=thisisasamplesecret

# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
SMTP_HOST=email-server
SMTP_PORT=587
SMTP_USERNAME=email-server-username
SMTP_PASSWORD=email-server-password
EMAIL_FROM=support@yourapp.com

# Stripe secret key
STRIPE_SECRET=stripe-production-private-key
STRIPE_SECRET_TEST=stripe-test-private-key